body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.h11{
    text-align:center;
    border-style: dashed ;
    inline-size: fit-content;
    margin:10px;
    margin-left: 650px;
    padding:20px;
    border-color: rgba(137, 43, 226, 0);
    background-color: rgba(222, 184, 135, 0.384);
    border-radius: 50px;
}
.p11{
    border-style:solid;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(222, 184, 135, 0.384);
    inline-size:650px;
    border-left-color: black;
    border-left-width: 5px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: larger;
    margin:20px;
    padding:10px;
}
.div1{
    display:flex;
    border-style: groove;
    padding:50px;
    background-color:rgba(222, 184, 135, 0.384) ;
    inline-size: fit-content;
    margin-right:1100px;
    margin-top: 300px;
    border-color: rgba(222, 184, 135, 0.384);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.div2{
    padding: 20px;
    border-style:dashed;
    background-color: rgba(255, 255, 255, 0.384);
    align-items: center;
    flex-wrap: nowrap;
    
}
.p12{
    border-style: solid;
    background-color: rgba(222, 184, 135, 0.384);
    text-align: right;
    inline-size:fit-content;
    margin-left:1100px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: larger;
}